.head_menu,
.tab_control,
.activeM {
    display: none;
}
.availability-search_index .panel-a h1 {
    text-align: center;
}
/*
*========================================================================
***************************** MEDIA < 1000 *******************************
*========================================================================
*/

@media only screen and (max-width: 1000px) {

    #container {
        width: 100%;
    }

    /*======================
    *******  HEADER  *******
    ======================*/
    header {
        width: 97%;
        margin: 0 auto;
    }
    /*======================
    *******  FOOTER  *******
    ======================*/
    footer {
        width: 100%;
    }
    footer div {
        width: 97%;
        margin: 0 auto;
    }
    footer #social {
        width: 179px;
        padding-left: 4%;
        box-sizing: border-box;
    }
    .copy,
    .branding {
        margin-right: 0!important;
    }
    /*======================
    ****  HOW IT WORKS  ****
    ======================*/
    .how-it-works #main .panel-b p,
    .how-it-works #main .expandable p {
        text-align: justify;
    }
    .how-it-works #main {
        width: 97%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .how-it-works .panel-b h1 {
        text-align: center;
    }
    .how-it-works .layout-f {
        padding: 25px 3%!important;
    }
    .how-it-works .panel-b {
        padding: 10px 3%;
    }
    .how-it-works .tabs {
        margin: 30px 0 0 0;
        box-sizing: border-box;
        padding: 0 12px;
    }
    .how-it-works .tabs li{
        overflow: hidden;
        width: 24.6%;
        margin-left: 0.4%;
        border-radius: 11px 11px 0 0;
        background-color: #ffffff;
    }
    .how-it-works .tabs li:hover{
        background-color: #00a0ba;
        font-weight: 600;
    }
    .how-it-works .tabs li a {
        width: 100%;
        background: none;
    }
    .selected {
        background-color: #00a0ba!important;
    }
    /*======================
    *****  RENT A CAR  *****
    ======================*/
    .availability-search_index .search h2,
    .availability-search_index .search label {
        text-align: center;
    }
    .availability-search_index .search span.lg {
        margin: 0 auto 10px;
    }
    .availability-search_index form div.select {
        width: 241px;
        margin: 0 auto 10px;
    }
    .availability-search_index .compact fieldset.when {
        margin: auto;
        float: none;
    }
    .availability-search_index .search .where,
    .availability-search_index .search .what {
        width: 50%;
        margin: 0;
        box-sizing: border-box;
        border: none;
    }
    .availability-search_index #main {
        padding: 25px 3%;
        width: 97%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .availability-search_index .how-it-works {
        width: 300px;
        float: left;
        margin: 0;
    }
    .availability-search_index .eligibility .media {
        width: 100%;
        padding-right: 0;
    }
    .availability-search_index .eligibility .media p {
        width: 261px;
        margin: auto;
    }
    .availability-search_index .how-it-works li {
        width: 280px;
        float: left;
        margin-bottom: 20px;
    }
    .availability-search_index ul.how-it-works li.step-3 {
        background-position: -616px;
    }
    .availability-search_index .eligibility {
        margin-left: 307px;
        padding: 5px 9px;
    }
    .availability-search_index .eligibility .critera ul li {
        width: auto;
        min-width: 228px;
        padding: 3px 28px 3px 20px;
    }
    .availability-search_index .eligibility .critera {
        width: 100%;
        padding-left: 0;
    }
    .availability-search_index .why {
        margin-left: 307px;
    }
    .availability-search_index .why ol li {
        width: 100%;
        box-sizing: border-box;
    }
    .datetimepicker {
        left: -53px;
    }
    /*======================
    ** RENT OUT YOUR CAR  **
    ======================*/
    .rent-out-your-car-home .media h1,
    .rent-out-your-car-home .critera h2,
    .rent-out-your-car-home .why h1 {
        text-align: center;
    }
    .rent-out-your-car-home #main {
        width: 97%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 25px 2%;
    }
    .rent-out-your-car-home .rental-value {
        padding: 10px 1%;
    }
    .rent-out-your-car-home .rental-value fieldset {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
        border: none;
    }
    .rent-out-your-car-home span.reg, .rent-out-your-car-home span.xlg {
        margin: 0 auto 20px;
    }
    .rent-out-your-car-home .show-rental-value {
        margin: auto;
    }
    .rent-out-your-car-home .rental-value fieldset h2,
    .rent-out-your-car-home .rental-value h1,
    .rent-out-your-car-home .rental-value label,
    .rent-out-your-car-home .rental-value h2 {
        text-align: center;
    }
    .rent-out-your-car-home .rental-value fieldset div {
        width: 50%;
        float: left;
    }
    .rent-out-your-car-home .rental-value .reasons {
        float: none;
        width: 100%;
    }
    .rent-out-your-car-home .how-it-works {
        width: 300px;
        float: left;
        margin: 0;
    }
    .rent-out-your-car-home .eligibility .media {
        width: 100%;
        padding-right: 0;
    }
    .rent-out-your-car-home .eligibility .media p {
        width: 261px;
        margin: auto;
    }
    .rent-out-your-car-home .how-it-works li {
        width: 280px;
        float: left;
        margin-bottom: 20px;
    }
    .rent-out-your-car-home ul.how-it-works li.step-3 {
        background-position: -616px;
    }
    .rent-out-your-car-home .eligibility {
        margin-left: 307px;
        padding: 5px 9px;
    }
    .rent-out-your-car-home .eligibility .critera ul li {
        width: auto;
        min-width: 258px;
        padding: 3px 28px 3px 34px;
    }
    .rent-out-your-car-home .eligibility .critera {
        width: 100%;
        padding-left: 0;
    }
    .rent-out-your-car-home .why {
        margin-left: 307px;
    }
    .rent-out-your-car-home .why ol li {
        width: 100%;
        box-sizing: border-box;
    }
    /*======================
    *** PRIVACY POLICY  ****
    ======================*/
    .privacy .editorial {
        text-align: justify;
    }
    .privacy #main {
        width: 97%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 25px 2%;
    }
    .privacy .editorial h1 {
        text-align: center;
    }
    /*======================
    *****  CONTACT US  *****
    ======================*/
    .contact-us #main {
        width: 97%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 25px 2%;
    }
    .contact-us fieldset {
        width: 50%;
    }
    .contact-us .data-input fieldset div {
        padding-right: 0;
        margin: auto;
    }
    .contact-us .data-input fieldset label {
        box-sizing: border-box;
        padding: 7px;
        text-align: center;
    }
    .contact-us .data-input fieldset span.sm {
        margin: auto;
    }
    .contact-us fieldset span.lg {
        margin: auto;
        padding: 3px 5px;
    }
    .contact-us form div.select p {
        margin: auto;
    }
    .contact-us .data-input h1 {
        text-align: center;
    }
    .contact-us #container span.ta {
        width: 100%;
        box-sizing: border-box;
    }
    .contact-us span.ta textarea {
        border: none;
        width: 100%;
    }
    .contact-us .charsRemaining {
        text-align: center;
        margin-bottom: 10px;
    }
    .contact-us .button {
        margin: auto;
    }
    .contact-us .select div {
        margin-bottom: 15px!important;
    }
    /*======================
    **  REGISTER / LOGIN  **
    ======================*/
    .register #main {
        width: 97%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 25px 2%;
    }
    .tab_control {
        display: block;
        width: 100%;
        height: 31px;
        margin-left: 11px;
    }
    .tab_control_button {
        width: 124px;
        height: 31px;
        display: inline-block;
        margin-bottom: 0;
        border: 1px solid #F3EDED;
        border-radius: 11px 11px 0 0;
        text-align: center;
        margin-right: 1px;
        cursor: pointer;
        transition: 0.4s ease;
        color: rgb(109, 110, 112);
        float: left;
    }
    .tab_control_button a {
        display: block;
        font-family: 'VAG Rounded W01 Light', Arial, Helvetica, sans-serif;
        color: inherit;
        font-size: 16px;
        line-height: 33px;
    }
    .active_tab {
        display: block!important;
        background: linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b5d1), color-stop(100%, #00a0ba));
        background: -webkit-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -ms-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -o-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -moz-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
    }
    .active_tab a {
        color: #fff;
    }
    .tab_control_button:hover {
        background: linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b5d1), color-stop(100%, #00a0ba));
        background: -webkit-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -ms-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -o-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        background: -moz-linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
        color: #fff;
    }
    .tabs_item {
        margin-bottom: 0;
        display: none;
    }
    .register .split {
        display: none;
    }
    .register .data-input {
        width: 100%;
        box-sizing: border-box;
    }
    .register .data-input fieldset div {
        clear: both;
        width: 360px;
        margin: 0 auto 15px auto;
        padding-right: 0;
    }
    .register hgroup {
        text-align: center;
    }
    .register #password-strength {
        margin-left: auto;
        width: 43px;
    }
    .register #password-strength-label {
        text-align: center;
        width: 130px;
    }
    .register .terms {
        margin: auto;
        width: 306px;
    }
    .register #frm-agree-terms {
        margin-top: 9px;
    }
    .register .login h1, .register .login h2 {
        text-align: center;
    }
    .register .layout-a .login fieldset p {
        float: none;
        width: 174px;
        margin: auto;
    }
    .layout-a .login fieldset p label {
        padding: 0 0 0 7px;
    }
    .register #frm-remember-password {
        display: inline-block;
        margin-top: 1px;
    }
    /*======================
    *******  HOME  *********
    ======================*/

    .home #main {
        width: 97%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 25px 2%;
        background: #fff url(../images/bg-home-back.jpg) 0px -120px no-repeat;
        background-size: cover;
    }
    .home #supporting {
        position: absolute;
        top: 567px;
        left: 420px;
    }
    .home #main form.mform {
        margin-top: 341px;
    }
    #supporting .banner {
        margin-bottom: 15px;
    }
    .home .rent-out, .home .rent {
        width: 95%;
        box-sizing: border-box;
    }
    .home .banner h1 {
        height: 49px;
    }
    .home .standard-register {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        float: right;
        margin-right: 2%;
        margin-bottom: 4px;
    }
    .home .banner .fb {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        float: left;
        margin-left: 88px;
        margin-bottom: 1%;
    }
    .home #supporting .banner .find-out-more {
        position: relative;
        bottom: 0;
        right: 0;
        margin-right: 2%;
        margin-bottom: 1%;
        float: right;
    }
    .home .wrapper_sign {
        position: relative;
        top: -732px;
        width: 557px;
        margin: 0 auto;
    }

}
/*
*========================================================================
***************************** MEDIA < 970 *******************************
*========================================================================
*/

@media only screen and (max-width: 970px) {
    /*======================
    *******  HOME  *********
    ======================*/
    .home .banner .fb {
        float: right;
        margin-right: 2%;
    }
}
/*
*========================================================================
***************************** MEDIA < 750 *******************************
*========================================================================
*/

@media only screen and (max-width: 750px) {
    /*======================
    *******  HOME  *********
    ======================*/
    .home #supporting {
        position: relative;
        top: 0;
        left: 0;
        width: 97%;
        margin: 15px auto 0 auto;
    }
    .home .rent-out, .home .rent {
        width: 100%;
    }
    .home #main form {
        width: 100%;
        box-sizing: border-box;
        padding: 2%;
    }
    .home #master-form h1,
    .home #master-form label.mform {
        text-align: center;
    }
    .home #master-form fieldset {
        width: 100%;
    }
    .home fieldset.mform div {
        margin: 0 auto;
        width: 322px;
    }
    .home .wrapper_date {
        margin: 0 auto;
        width: 321px;
    }
    .home .wrapper_sign {
        position: relative;
        top: -693px;
        width: 557px;
        margin: 0 auto;
    }
}
/*
*========================================================================
***************************** MEDIA < 670 *******************************
*========================================================================
*/

@media only screen and (max-width: 670px) {
    /*======================
    *****  RENT A CAR  *****
    ======================*/
    .availability-search_index .how-it-works {
        width: 280px;
        float: none;
        height: auto!important;
        margin: 0 auto;
    }
    .availability-search_index .eligibility,
    .availability-search_index .why {
        margin-left: 0;
    }
    .availability-search_index .eligibility .critera ul li {
        float: left;
    }
    /*======================
    ** RENT OUT YOUR CAR  **
    ======================*/
    .rent-out-your-car-home .rental-value fieldset div {
        width: 100%;
        float: left;
    }
    .rent-out-your-car-home .how-it-works {
        width: 290px;
        float: none;
        height: auto!important;
        margin: 0 auto;
    }
    .rent-out-your-car-home .eligibility,
    .rent-out-your-car-home .why {
        margin-left: 0;
    }
    .rent-out-your-car-home .eligibility .critera ul li {
        float: left;
        min-width: 216px;
    }
}
/*
*========================================================================
***************************** MEDIA < 625 *******************************
*========================================================================
*/

@media only screen and (max-width: 625px) {
    /*======================
    *******  FOOTER  *******
    ======================*/
    #sitemap,
    #social {
        width: 100%!important;
    }
    #sitemap h2 {
        text-align: center;
    }
    #sitemap nav ul li {
        width: 33%;
        text-align: center;
        display: block;
    }
    #social h2 {
        margin-left: 17px;
    }
    .branding {
        top: 150px!important;
    }
    footer .copy {
        margin-top: 33px!important;
        width: 100%!important;
        text-align: center!important;
        height: 30px;
    }
    .branding {
        margin-right: 7%!important;
    }
}
/*
*========================================================================
***************************** MEDIA < 620 *******************************
*========================================================================
*/

@media only screen and (max-width: 620px) {
    /*======================
    *****  RENT A CAR  *****
    ======================*/
    .availability-search_index .search .where, .availability-search_index .search .what {
        width: 245px;
    }
    .availability-search_index .compact fieldset {
        float: none;
        margin: 0 auto !important;
    }
    .availability-search_index #main {
        padding: 25px 2%;
    }
    .availability-search_index .compact fieldset.when .daterange {
        padding-right: 0;
        float: none;
        margin: 0 auto;
    }
    .ui-widget {
        width: 96% !important;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .ui-widget h1 {
        font-size: 1.8em !important;
    }
    .ui-widget h2 {
        font-size: 1.1em !important;
    }
    /*======================
    ********  HOME  ********
    ======================*/
    .home .wrapper_sign {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    .home .wrapper_sign {
        width: 1px;
        top: -582px;
        right: 20px;
    }
    .home #main form.mform {
        margin-top: 238px;
    }
    .home #main .user {
        right: 0;
        left: 3px;
    }
    .home #main .emily,
    .home #main .jim {
        right: 0;
    }
    .home #main .jake {
        right: 0;
        left: 90px;
    }
    .home #main .julie {
        right: 0;
        left: 60px;
    }
}
/*
*========================================================================
***************************** MEDIA < 586 *******************************
*========================================================================
*/

@media only screen and (max-width: 586px) {
    /*======================
    *******  HEADER  *******
    ======================*/
    header {
        height: auto;
    }
    .home a img {
        top: -145px;
    }
    .auth, .secondary, .primary li {
        display: none;
    }
    .head_menu {
        display: block;
        height: 120px;
    }
    .logo_menu {
        margin-top: 35px;
        height: 58px;
        width: 200px;
        float: left;
    }
    .menu_button {
        float: right;
        margin-top: 41px;
    }
    .fa-bars {
        cursor: pointer;
        font-size: 40px!important;
        color: #00a0ba;
    }
    .mobile_menu {
        display: none;
        position: absolute;
        top: 120px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16.5px;
    }
    .mobile_menu a {
        position: relative;
        display: block;
        height: 50px;
        width: 100%;
        text-align: center;
        z-index: 3;
        line-height: 50px;
        background-color: #00a0ba;
        transition: 0.5s ease;
        color: #ffffff;
        font-weight: 600;
    }
    .mobile_menu a:hover {
        background-color: #00b5d1;
        color: #ffffff;
    }
    .activeM {
        display: block;
    }
}
/*
*========================================================================
***************************** MEDIA < 525 *******************************
*========================================================================
*/
@media only screen and (max-width: 525px) {
    /*======================
    *****  CONTACT US  *****
    ======================*/
    .contact-us .layout-f .panel-b {
        padding: 10px 2%;
    }
    .contact-us fieldset {
        float: none;
        width: 100%;
    }
}
/*
*========================================================================
***************************** MEDIA < 495 *******************************
*========================================================================
*/

@media only screen and (max-width: 495px) {
    /*======================
    ****  HOW IT WORKS  ****
    ======================*/
    .how-it-works .how-panel {
        padding: 5% 3% 1%;
        min-height: 15px;
    }
    .how-it-works .expandable h3 {
        margin-left: 53px;
    }
    .how-it-works .how-panel article.expandable {
        padding-left: 15px;
    }
    .tabs {
        padding: 0!important;
    }
    .how-it-works .tabs li{
        width: 100%;
        margin-left: 0;
        margin-bottom: 1px;
        border-radius: 11px;
        float: none;
    }
}
/*
*========================================================================
***************************** MEDIA < 450 *******************************
*========================================================================
*/

@media only screen and (max-width: 450px) {
    /*======================
    **  REGISTER / LOGIN  **
    ======================*/
    .register .data-input fieldset div {
        width: 200px;
        margin: 0 auto 5px;
    }
    .register .password label {
        min-height: 20px;
    }
    .register #password-strength {
        width: 200px;
    }
    .register label em.help {
        left: 177px;
    }
    /*======================
    ********  HOME  ********
    ======================*/
    .home .wrapper_sign {
        top: -544px;
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    .home #main form.mform {
        margin-top: 204px;
    }
}
/*
*========================================================================
***************************** MEDIA < 415 *******************************
*========================================================================
*/

@media only screen and (max-width: 415px) {
    /*======================
    *****  RENT A CAR  *****
    ======================*/
    .availability-search_index .search .when {
        width: 245px;
    }
    .availability-search_index .eligibility .critera ul li {
        padding: 3px 20px 3px;
    }
}
/*
*========================================================================
***************************** MEDIA < 390 *******************************
*========================================================================
*/

@media only screen and (max-width: 390px) {
    /*======================
    ********  HOME  ********
    ======================*/
    .home .wrapper_sign {
        top: -489px;
        -moz-transform: scale(0.45);
        -ms-transform: scale(0.45);
        -webkit-transform: scale(0.45);
        -o-transform: scale(0.45);
        transform: scale(0.45);
    }
    .home #main form.mform {
        margin-top: 142px;
    }
}
/*
*========================================================================
***************************** MEDIA < 380 *******************************
*========================================================================
*/

@media only screen and (max-width: 380px) {
    /*======================
    **  REGISTER / LOGIN  **
    ======================*/
    .register .data-input fieldset label {
        width: 150px;
    }
    .register .terms {
        margin: auto;
        width: 191px;
    }
    /*======================
    *******  HOME  *********
    ======================*/
    .home form.mform {
        height: auto;
    }
    .home #master-form span.lg,
    .home #master-form fieldset.mform .button,
    .home #master-form span.mform {
        float: none;
        margin: 0 auto 5px auto;
    }
    .home fieldset.mform div, .home .wrapper_date {
        width: auto;
    }
    .home .wrapper_sign {
        top: -572px;
    }
}