@import url(/t/1.css?apiType=css&projectid=7e4e4135-3914-4fad-a361-c30c7d871f02);
@font-face{
font-family:"VAG Rounded W01 Light";
src:url("/d/8eb3a61c-2df5-402f-aacc-7733752abec6.eot?d44f19a684109620e4841579a690e818ae205577778b3594a25a229534a2ec191951bacd3d010530cabcc25edad50217fea529434a7cc53b37850ebc8c7ed0b45017d020af6e63360f85ed1c37adc1f5031c2b74b9ba81f162c9a1826089fa3534ad39c2b8&projectId=7e4e4135-3914-4fad-a361-c30c7d871f02") format("eot");}
@font-face{
font-family:"VAG Rounded W01 Light";
src:url("/d/8eb3a61c-2df5-402f-aacc-7733752abec6.eot?d44f19a684109620e4841579a690e818ae205577778b3594a25a229534a2ec191951bacd3d010530cabcc25edad50217fea529434a7cc53b37850ebc8c7ed0b45017d020af6e63360f85ed1c37adc1f5031c2b74b9ba81f162c9a1826089fa3534ad39c2b8&projectId=7e4e4135-3914-4fad-a361-c30c7d871f02");
src:url("/d/67ca5d86-3357-4491-aa9f-6e7ff54b2e2e.woff?d44f19a684109620e4841579a690e818ae205577778b3594a25a229534a2ec191951bacd3d010530cabcc25edad50217fea529434a7cc53b37850ebc8c7ed0b45017d020af6e63360f85ed1c37adc1f5031c2b74b9ba81f162c9a1826089fa3534ad39c2b8&projectId=7e4e4135-3914-4fad-a361-c30c7d871f02") format("woff"),url("/d/888f8505-0e2c-41e8-af58-21279dda85e5.ttf?d44f19a684109620e4841579a690e818ae205577778b3594a25a229534a2ec191951bacd3d010530cabcc25edad50217fea529434a7cc53b37850ebc8c7ed0b45017d020af6e63360f85ed1c37adc1f5031c2b74b9ba81f162c9a1826089fa3534ad39c2b8&projectId=7e4e4135-3914-4fad-a361-c30c7d871f02") format("truetype"),url("/d/ca4650e2-5aa3-4755-9c6d-256cbb4f5115.svg?d44f19a684109620e4841579a690e818ae205577778b3594a25a229534a2ec191951bacd3d010530cabcc25edad50217fea529434a7cc53b37850ebc8c7ed0b45017d020af6e63360f85ed1c37adc1f5031c2b74b9ba81f162c9a1826089fa3534ad39c2b8&projectId=7e4e4135-3914-4fad-a361-c30c7d871f02#ca4650e2-5aa3-4755-9c6d-256cbb4f5115") format("svg");
}
