/*
 * Author: 
 * Agency: Soak Digital Ltd.
 * Project: 
 * Comment: IE8 and below stylesheet
 */
 

#loadindicator
{
	background: none!important;
	display: block!important;
}

#loadindicator img
{
	display: block!important;
}

.corners
{
	position:relative;	
}

.account_profile-and-ratings #frm-description
{
	border:1px solid #ccc;
}

.corner
{
	display:block;
	height:6px;
	width:6px;
	position:absolute;
	background:url(../images/bg-ie-corners.png) 0 0 no-repeat;
}

.payment-history,
.layout-f .panel-a
{
	background: #f6f5f4!important;	
}

.home form .corner,
.home #main .corner,
.home .banner .corner,
.layout-b .panel-a .corner,
.layout-f .panel-b .corner,
.layout-f .panel-a .corner,
#main .blm,
#main .brm,
.layout-g .panel-a .corner,
.layout-g .panel-b .corner,
.masthead .corner,
.payment-history .corner,
.layout-f .panel-b .how-panel .corner
{
	width:10px; 
	height:10px; 
}

.layout-f .panel-b .how-panel article .corner,
#main .availability-selector .corner,
.payment-history article .corner,
.layout-f .panel-a .user-ratings .corner,
.layout-f .panel-a .message-listing .corner,
.layout-f .panel-a .bookings-grid .corner
{
	width:7px; 
	height:7px; 
	z-index:9999;
}

header .auth .bl { bottom:0; left:0; background-position: -343px 0;}
header .auth .br { bottom:0; right:0; background-position: -336px 0;}
header .auth .tl { top:0; left:0; background-position: -357px 0;}
header .auth .tr { top:0; right:0; background-position: -350px 0; }

.primary li a .tl { top:-1px; left:-1px; background-position: -6px 0;}
.primary li a .tr { top:-1px; right:-1px; background-position: 0 0; }
.primary li a:hover .tl, .primary li.active a .tl, header .user-info .tl, .secondary li a:hover .tl { top:-1px; left:-1px; background-position: -12px 0;}
.primary li a:hover .tr, .primary li.active a .tr, header .user-info .tr, .secondary li a:hover .tr { top:-1px; right:-1px; background-position: -18px 0; }

header .user-info .bl { bottom:0; left:-1px; background-position: -30px 0;}
header .user-info .br { bottom:0; right:-1px; background-position: -24px 0;}

.secondary li a .tl { top:-1px; left:-1px; background-position: -36px 0;}
.secondary li a .tr { top:-1px; right:-1px; background-position: -42px 0; }

#main .blm, .home #main .bl { bottom:0; left:-1px; background-position: -48px 0; }
#main .brm, .home #main .br { bottom:0; right:-1px; background-position: -58px 0; }

.home .banner .tl { top:-1px; left:-1px; background-position: -68px 0; }
.home .banner .tr { top:-1px; right:-1px; background-position: -78px 0; }
.home .banner .bl { bottom:-1px; left:-1px; background-position: -98px 0; }
.home .banner .br { bottom:-1px; right:-1px; background-position: -88px 0; }

.home #main form .tl, .layout-b .panel-a .tl, .layout-f .panel-b .tl, .layout-g .panel-a .tl, .layout-g .panel-b .tl, .masthead .tl, #add-vehicle .price-matrix .tl { top:-1px; left:-1px; background-position: -108px 0; }
.home #main form .tr, .layout-b .panel-a .tr, .layout-f .panel-b .tr, .layout-g .panel-a .tr, .layout-g .panel-b .tr, .masthead .tr, #add-vehicle .price-matrix .tr { top:-1px; right:-1px; background-position: -118px 0; }
.home #main form .bl, .layout-b .panel-a .bl, .layout-f .panel-b .bl, .layout-g .panel-a .bl, .layout-g .panel-b .bl, .masthead .bl, #add-vehicle .price-matrix .bl { bottom:-1px; left:-1px; background-position: -138px 0; }
.home #main form .br, .layout-b .panel-a .br, .layout-f .panel-b .br, .layout-g .panel-a .br, .layout-g .panel-b .br, .masthead .br, #add-vehicle .price-matrix .br { bottom:-1px; right:-1px; background-position: -128px 0; }

.payment-history article .tl, .layout-f .panel-a .user-ratings .tl, .layout-f .panel-a .message-listing .tl, .layout-f .panel-a .bookings-grid .tl { top:0; left:0; background-position: -148px 0; }
.payment-history article .tr, .layout-f .panel-a .user-ratings .tr, .layout-f .panel-a .message-listing .tr, .layout-f .panel-a .bookings-grid .tr { top:0; right:0; background-position: -155px 0; }
.payment-history article .bl, .layout-f .panel-a .user-ratings .bl, .layout-f .panel-a .message-listing .bl, .layout-f .panel-a .bookings-grid .bl { bottom:0; left:0; background-position: -162px 0; }
.payment-history article .br, .layout-f .panel-a .user-ratings .br, .layout-f .panel-a .message-listing .br, .layout-f .panel-a .bookings-grid .br { bottom:0; right:0; background-position: -169px 0; }

.layout-f .panel-b .how-panel article .tl { top:-1px; left:-1px; background-position: -176px 0; display:block!important;}
.layout-f .panel-b .how-panel article .tr { top:-1px; right:-1px; background-position: -184px 0; display:block!important;}
.layout-f .panel-b .how-panel article .bl { bottom:-1px; left:-1px; background-position: -192px 0; display:block!important;}
.layout-f .panel-b .how-panel article .br { bottom:-1px; right:-1px; background-position: -200px 0; display:block!important;}

#main .availability-selector .tl { top:0; left:0; background-position: -208px 0;}
#main .availability-selector .tr { top:0; right:0; background-position: -215px 0;}
#main .availability-selector .bl { bottom:0; left:0; background-position: -222px 0;}
#main .availability-selector .br { bottom:0; right:0; background-position: -229px 0;}

.payment-history .tl, .layout-f .panel-a .tl { top:-1px; left:-1px; background-position: -256px 0;}
.payment-history .tr, .layout-f .panel-a .tr { top:-1px; right:-1px; background-position: -266px 0;}
.payment-history .bl, .layout-f .panel-a .bl { bottom:-1px; left:-1px; background-position: -276px 0;}
.payment-history .br, .layout-f .panel-a .br { bottom:-1px; right:-1px; background-position: -286px 0;}

.layout-f .panel-b .how-panel .tl { top:0; left:0; background-position: -296px 0;}
.layout-f .panel-b .how-panel .tr { top:0; right:0; background-position: -306px 0;}
.layout-f .panel-b .how-panel .bl { bottom:0; left:0; background-position: -316px 0;}
.layout-f .panel-b .how-panel .br { bottom:0; right:0; background-position: -326px 0;}

#support-message .tl, #my-car #tips .tl { top:0; left:0; background-position: -296px 0;}
#support-message .tr, #my-car #tips .tr { top:0; right:0; background-position: -306px 0;}
#support-message .bl, #my-car #tips .bl { bottom:0; left:0; background-position: -316px 0;}
#support-message .br, #my-car #tips .br { bottom:0; right:0; background-position: -326px 0;}

.item li a .tl { top:-1px; left:-1px; }
.item li a .tr { top:-1px; right:-1px; }
.item li a .bl { bottom:-1px; left:-1px; }
.item li a .br { bottom:-1px; right:-1px; }

#main { border:0;}
.home #main .bl { bottom:-1px; }
.home #main .br { bottom:-1px; }


.primary li a .bl, .secondary li a .bl {display:none;}
.primary li a .br, .secondary li a .br {display:none;}

.bookings-grid
{
	max-height: none;
}


