/*
 * Author: 
 * Agency: Soak Digital Ltd.
 * Project: 
 * Comment: IE7 and below stylesheet
 */


#loadindicator
{
	background: none!important;
	display: block!important;
}

#loadindicator img
{
	display: block!important;
}
#add-vehicle section ul, #add-vehicle, #last-viewed, #my-car, .headings, .user-confirm, ul, footer, footer #sitemap, #supporting, #master-form fieldset, .date, .time, #main, .layout-a, .layout-b, .layout-c, .layout-d, .layout-e, .panel, .actions, .pager, article.vehicle, .layout-b .vehicle .actions, .search, .vehicle-actions, .rating, .reviews li, .layout-c article.vehicle .data, .vehicle .actions li, .data-input div, .booking-form .steps, .user-data li, .booking-form .terms, #dialog-modal .booking-form .user-checks, .booking-form .select-group, form, .price-matrix, #resultsData {
	zoom:1;
}

.inner,.form-actions,.data-input, ul, .detail-benefits, .maintenance p, #block-dates .action, #setPrice p, #setPrice, .availability-selector li, .user-ratings div, .user-ratings ul li, .message-listing div, .message-listing ul li, .bookings-grid div, .bookings-grid ul li, ul.tabs, .dates, .payment-history .payments li
{
	zoom:1;
}

.form-actions
{
	clear:both;	
}

.booking-form form {
    width: 100%;
}

#frm-agree,
.inpage li
{
	float:left;	
}

.user-data li em
{
	float:none;
	font-weight:bold;
}

.data-input fieldset span.lg
{
	padding-top:3px;	
}

.payment .data-input fieldset .dates
{
	width: 160px;	
}

.layout-d .split
{
	height:70%;	
}

.availability-detail
{
	width: 380px;	
}

.open-calendar
{
	clear:both;	
}

#setPrice .set-price em
{
	height: 1em;
	line-height:1em;
	position:relative;
	top:-5px;
}

.availability-detail .select
{
	clear:right;
	float:right;
}

#last-viewed ul
{
	width: 310px;
	float: none;
	margin:15px 0;
}

#my-car #tips
{
	padding-top: 5px;
}

.datetimepicker,
.p1
{
	z-index: 9999;
}

.p2
{
	z-index: 999;
}

.p3
{
	z-index: 99;
}

.checkboxes *
{
	float:left;
}

.checkboxes li,
.claim
{
	zoom:1;
}

#frm-confirm-claims-history
{
	float: left;
}


